<p-tabView>
  <p-tabPanel header="List Products" leftIcon="pi pi-list">
  </p-tabPanel>
  <p-tabPanel header="create" leftIcon="pi pi-plus">
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card-header">
            <h3 class="card-title">New Product</h3>
          </div>
          <div class="card-body">
            <label for="reference">reference :</label>
            <input class="form-control" name="reference" type="text" id="reference" [(ngModel)]="product.reference">
            <label for="name">name :</label>
            <input class="form-control" name="name" type="text" id="name" [(ngModel)]="product.name">
            <label for="design">Price :</label>
            <input class="form-control" name="design" type="text" id="design" [(ngModel)]="product.price">
            <label for="unitemesure">Unite mesure :</label>
            <select class="form-control"  name="unitemesure" id="unitemesure" [(ngModel)]="product.unitemesure">
              <option value="Piece">Unit(s)</option>
              <option value="m">m</option>
              <option value="L">L</option>
              <option value="Kg">Kg</option>
            </select><br>
            <label>Vendor : </label>
            <div class="row">
              <div class="col-md-6">
                <button type="button" (click)="showDialog()" pButton icon="pi pi-plus" label="Add Vendor"></button>
              </div>
              <h5>{{product.vendor.name}}</h5>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto" align="right">
                <p-toast position="center"></p-toast>
                <button class="btn btn-success" label="Success" (click)="addProduct()">Add Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>  </p-tabPanel>
  <p-tabPanel header="Godfather III" leftIcon="pi pi-user" rightIcon="pi pi-star">
    After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
  </p-tabPanel>
</p-tabView>


<p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '600px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <p-orderList [value]="vendors" [listStyle]="{'height':'250px'}" header="Vendors"
               filter="filter" filterBy="name" filterPlaceholder="Filter by name" dragdrop="true" (onSelectionChange)= "onSelectionChange($event)">
    <ng-template let-car pTemplate="item">
      <div class="ui-helper-clearfix">
        <div style="font-size:14px;float:right;margin:15px 5px 0 0"> <b>Mobile</b>: {{car.mobile}} - <b>Fax</b>: {{car.fax}} - <b>Name</b>: {{car.name}} - <b>website</b>: {{car.website}}</div>
      </div>
    </ng-template>
  </p-orderList>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>



