<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>Creating invoices</h2>
      </div>
      <div class="card-body">
        <button class="fa fa-plus btn btn-success btn-md">Add an other one</button>
        <table class="table table-stripped">
          <tr>
            <td>Col 1</td>
            <td>Col 2</td>
            <td>Product</td>
            <td>Customer</td>
          </tr>
          <tr>
            <td>Col val</td>
            <td>Col val</td>
            <td><select name="" id="customer">
              <option value="">Product 1</option>
              <option value="">Product 2</option>
              <option value="">Product 3</option>
              <option value="">Product 4</option>
            </select>
            </td>
            <td>
              <select name="" id="pro">
                <option value="">Customer 1</option>
                <option value="">Customer 2</option>
                <option value="">Customer 3</option>
                <option value="">Customer 4</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
